Checks: '
  -*,
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  cert-*,

  cppcoreguidelines-*,
  -cppcoreguidelines-init-variables,

  misc-*,
  performance-*,

  readability-*,
  -readability-braces-around-statements,
  -readability-identifier-length,
  -readability-avoid-const-params-in-decls,
  '
